.authSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.authNavigation {
    display: flex;
    gap: 15px;
}