.Wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.InfoPanel{
    border: 2px solid #3b82f6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    line-height: 25px;
    box-shadow: 2px 4px #3b82f6;

    h1{
        font-size: 20px;
        font-weight: 600;
        color: #3b82f6;
    }
}

.InfoCard{
    display: flex;
    justify-content: space-between;
}

.TextPoints{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.InfoImage{
    img{
        width: 800px;
        border-radius: 10px;
    }
}

.InfoText{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ServiceClasses{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ServiceClassesList{
    display: flex;
    gap: 20px;
}

.Footer{
    width: 100%;
    height: 150px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}