.navContainer{
    display: flex;
    padding: 10px 40px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    h1{
        font-size: 20px;
        font-weight: 600;
    }
}

.Actions{
    display: flex;
    align-items: center;
    gap: 15px;
}